<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="ICU_40MergeModule" Language="1033" Version="1.0.0.0">
    <Package Id="{CD60A0F5-3469-4F93-931D-DED2529C7B1F}" Keywords="IBM Components for Unicode (ICU); SIL; Encoding Conversion; Transliteration; EncConverters"
             Description="Merge Module for ICU (currently v6.8.2) corresponding to EncConverter core API v4.0 -- Include in any client application deployment project that wants to include ICU capabilities to EncConverters functionality"
             Comments="Common installer module for SIL's ICU component for v4.0 of the EncConverter's API" Manufacturer="SIL International" InstallerVersion="500" Languages="1033"
             SummaryCodepage="1252" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">

        <!-- note that the EC-related ICU DLLs (now) are in the EC_40_MergeModule.wxs script, but these are the actual ICU (from IBM) bits -->
        <Component Id="icudt68.dll" Guid="{35B75A95-6A7F-441B-96A9-A8A58AE83FC4}">
          <File Id="icudt68.dll" Name="icudt68.dll" KeyPath="yes" Source="..\..\DistFiles\windows\Win32\icu\bin\icudt68.dll"/>
        </Component>
        <Component Id="icuin68.dll" Guid="{0AE3AAFB-315D-48BE-99F5-A4D03EB5FB05}">
          <File Id="icuin68.dll" Name="icuin68.dll" KeyPath="yes" Source="..\..\DistFiles\windows\Win32\icu\bin\icuin68.dll"/>
        </Component>
        <Component Id="icuuc68.dll" Guid="{2D374AAB-501E-4559-9108-96B860705072}">
          <File Id="icuuc68.dll" Name="icuuc68.dll" KeyPath="yes" Source="..\..\DistFiles\windows\Win32\icu\bin\icuuc68.dll"/>
        </Component>

      </Directory>

    </Directory>
  </Module>
</Wix>
