<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SilEncConverters40.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SilEncConverters40.Properties.Settings>
            <setting name="DefaultAIProjectFile" serializeAs="String">
                <value>SourceFont
Height	-19
Width	0
Escapement	0
Orientation	0
Weight	700
Italic	0
Underline	0
StrikeOut	0
FontEncoding	33
CharSet	0
OutPrecision	3
ClipPrecision	2
Quality	1
PitchAndFamily	34
FaceName	{0}
Color	16711680

TargetFont
Height	-19
Width	0
Escapement	0
Orientation	0
Weight	700
Italic	0
Underline	0
StrikeOut	0
FontEncoding	33
CharSet	0
OutPrecision	3
ClipPrecision	2
Quality	1
PitchAndFamily	34
FaceName	{1}
Color	0

NavTextFont
Height	-15
Width	7
Escapement	0
Orientation	0
Weight	700
Italic	0
Underline	0
StrikeOut	0
FontEncoding	33
CharSet	0
OutPrecision	1
ClipPrecision	2
Quality	2
PitchAndFamily	34
FaceName	{2}
Color	65280

ProjectSettings
SourceLanguageName	{3}
TargetLanguageName	{4}
DefaultCCTablePath	
LastExportPath	
LastNewDocumentFolder	{5}\Adapt It Unicode Work
PunctuationPairsSourceSet(stores space for an empty cell)	{6}
PunctuationPairsTargetSet(stores space for an empty cell)	{7}

PunctuationTwoCharacterPairsSourceSet(ditto)	
PunctuationTwoCharacterPairsTargetSet(ditto)	
SpecialTextColor	255
RetranslationTextColor	32896
ColorOfNavigationText	65280
BackupDocumentFlag	0
RTL_Layout	0
SFMescapeChar	\
SFMafterNewlines	0
SourceIsRTL	{8}
TargetIsRTL	{9}

NavTextIsRTL	0
LowerCaseSourceLanguageChars	abcdefghijklmnopqrstuvwxyz
UpperCaseSourceLanguageChars	ABCDEFGHIJKLMNOPQRSTUVWXYZ
LowerCaseTargetLanguageChars	abcdefghijklmnopqrstuvwxyz
UpperCaseTargetLanguageChars	ABCDEFGHIJKLMNOPQRSTUVWXYZ
LowerCaseGlossLanguageChars	abcdefghijklmnopqrstuvwxyz
UpperCaseGlossLanguageChars	ABCDEFGHIJKLMNOPQRSTUVWXYZ
AutoCapitalizationFlag	0
SourceHasUpperCaseAndLowerCase	0
FontSizeForDialogs(points)	12
UseSFMarkerSet	UsfmOnly
UseFilterMarkers	\_list_base \xdc \lit \_double_boxed_para \_body_text \bt \ef \x \_normal_table \_footnote_caller \_dft_para_font \h \_unknown_para_style \_annotation_ref \note \rem \_annotation_text \_peripherals_base \_heading_base \_hdr_ftr_interlinear \__normal \xk \ide \_horiz_rule \_vernacular_base \_small_para_break \mr \_notes_base \_nav_lang_interlinear \efm \pro \restore \_footer \xo \_single_boxed_para \_src_lang_interlinear \cl \_unknown_char_style \ib \xq \_header \vp \_hidden_note \_tgt_lang_interlinear \free \r \_gls_lang_interlinear \ie \xt \va \cp \h1 \h2 \_table_grid \_intro_base \fig \ca \h3 \rq 
ChangeFixedSpaceToRegularSpace	0
BookModeFlag	0
BookIndexValue	-1
SaveAsXML	1
SilConverterName	
SilConverterDirectionForward	1
SilConverterNormalizeOutput	0
LegacyCopyForPhraseBox	1
DoAdaptingBeforeGlossing_InVerticalEdit	1</value>
            </setting>
            <setting name="DefaultAIKBFile" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;!--
	 Note: Using Microsoft WORD 2003 or later is not a good way to edit this xml file.
	 Instead, use NotePad, WordPad or Windows Explorer.
	 Please note: the order of the TU elements in this xml file might differ each time the knowledge base is saved. This is not an error. --&gt;
&lt;KB docVersion="4" srcName="{0}" tgtName="{1}" max="1"&gt;
	&lt;MAP mn="1"&gt;
	&lt;/MAP&gt;
&lt;/KB&gt;
</value>
            </setting>
        </SilEncConverters40.Properties.Settings>
    </userSettings>
</configuration>