#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

export MONO_PREFIX=/opt/mono-sil
export FIELDWORKS=1

%:
	dh --with autoreconf $@

override_dh_auto_clean:

# note that the Makefile determines the installation directory based on the
# existence/value of the variable FIELDWORKS, so we don't need a --prefix
# argument for autogen.sh
override_dh_autoreconf:
	./autogen.sh

override_dh_makeshibs:
	dh_makeshlibs = -X/usr/lib/fieldworks/

override_dh_strip:
	dh_strip = -k

override_dh_shlibdeps:
	dh_shlibdeps -l$(MONO_PREFIX)/lib:/usr/lib/fieldworks/lib -- -xfieldworks-applications

# don't try to run the tests while packaging!
override_dh_auto_test:
