#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS=-v
export MONO_PREFIX=/opt/mono5-sil

# NuGet has trouble when Ubuntu 16.04 pbuilder sets the home directory to /nonexistent. Set a HOME for NuGet to use.
export HOME=`mktemp -d --tmpdir nuget_home.XXXXX`

%:
	. ./environ && dh $@ --with autoreconf

override_dh_auto_clean:

override_dh_autoreconf:
	./autogen.sh

override_dh_makeshibs:
	dh_makeshlibs = -X/usr/lib/fieldworks/

override_dh_strip:
	dh_strip = -k

override_dh_shlibdeps:
	dh_shlibdeps -l$(MONO_PREFIX)/lib:/usr/lib/fieldworks/lib/x64 -- -xfieldworks-applications

# don't try to run the tests while packaging!
override_dh_auto_test:
