<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IcuEC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IcuEC.Properties.Settings>
            <setting name="RecentRegExpressions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>[aeiou]-&gt;V /i</string>
                        <string>[^aeiou]-&gt;C /i</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RecentCustomTransliterators" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NFD; [:Nonspacing Mark:] Remove; NFC</string>
                    </ArrayOfString>
                </value>
            </setting>
        </IcuEC.Properties.Settings>
    </userSettings>
</configuration>