<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SilEncConverters40.PtxConverters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SilEncConverters40.PtxConverters.Properties.Settings>
            <setting name="AdditionalMarkersToTranslate" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>fq</string>
                        <string>ft</string>
                        <string>fp</string>
                        <string>rq</string>
                        <string>s</string>
                        <string>ms1</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SilEncConverters40.PtxConverters.Properties.Settings>
    </applicationSettings>
</configuration>