<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="AITransducer64bitMM" Language="1033" Version="5.0.0.0">
		<Package Id="{36C44C78-185D-4EF1-9AED-CFABAA0FC226}" Comments="64-bit Merge module for the AdaptIt Lookup/Guesser EncConverter" 
				 Description="Include in any client application deployment project which uses the EncConverters interface" 
				 Manufacturer="SIL International" InstallerVersion="200" Keywords="SIL; AdaptIt; Affix Guessing; EncConverters" 
				 Platform="x64" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

                <Component Id="AIGuesserEC.dll" Guid="{E811CF99-7684-4493-B61F-2F8E7F0CD35A}">
                    <File Id="AIGuesserEC.dll" Name="AIGuesserEC.dll" KeyPath="yes" Assembly=".net" AssemblyManifest="AIGuesserEC.dll" AssemblyApplication="AIGuesserEC.dll" 
						  Source="..\..\output\x64\release\AIGuesserEC.dll" />
                </Component>

                <Directory Id="AiECFolder" Name="EC">
                    <Directory Id="AiPluginsFolder" Name="Plugins">
                        <Component Id="AI4.0.0.0PluginDetails.xml" Guid="{789A4FCF-B1DE-4AB1-BF4D-38DE61E7A2F0}">
                            <File Id="AI4.0.0.0PluginDetails.xml" Name="AI 4.0.0.0 Plugin Details.xml" KeyPath="yes" Source="..\..\redist\EC\Plugins\AI 4.0.0.0 Plugin Details.xml"/>
                        </Component>
                    </Directory>
                </Directory>

            </Directory>

			<Directory Id="CommonAppDataFolder" SourceName="AppData">
				<Directory Id="AppDataSIL" Name="SIL">
					<Directory Id="AppDataSILConverters40" Name="SILConverters40">
						<Directory Id="Help" Name="Help">
							<Component Id="AdaptItLookupHelp" Guid="{1D1DBD08-B4D1-4A7A-AECE-D55577D2A5B0}">
								<File Id="AdaptItLookupHelp" Name="AdaptIt_Plug-in_About_box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\redist\Help\AdaptIt_Plug-in_About_box.mht"/>
								<Shortcut Id="AdaptItLookupHelp" Directory="AiHelp" Name="AdaptIt Lookup Plug-in Help" Description="View help document for the AdaptIt Lookup Plug-in" IconIndex="0" Show="normal" Target="[#AdaptItLookupHelp]" WorkingDirectory="Help" Advertise="no" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="StartMenuFolder" SourceName="Start Menu">
                <Directory Id="ProgramMenuFolder" SourceName="Programs">
                    <Directory Id="SILConverters" Name="SIL Converters">
                        <Directory Id="AiHelp" Name="Help" />
                    </Directory>
                </Directory>
            </Directory>
            
        </Directory>
	</Module>
</Wix>
