<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="AITransducer64bitMM" Language="1033" Version="4.0.0.0">
		<Package Id="{36C44C78-185D-4EF1-9AED-CFABAA0FC226}" Comments="64-bit Merge module for the AdaptIt Lookup/Guesser EncConverter" 
				 Description="Include in any client application deployment project which uses the EncConverters interface" 
				 Manufacturer="SIL International" InstallerVersion="200" Keywords="SIL; AdaptIt; Affix Guessing; EncConverters" 
				 Platform="x64" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

                <Component Id="AIGuesserEC.dll" Guid="{E811CF99-7684-4493-B61F-2F8E7F0CD35A}">
                    <File Id="AIGuesserEC.dll" Name="AIGuesserEC.dll" KeyPath="yes" Assembly=".net" AssemblyManifest="AIGuesserEC.dll" AssemblyApplication="AIGuesserEC.dll" 
						  Source="..\..\output\x64\release\AIGuesserEC.dll" />
                </Component>

                <Directory Id="AiECFolder" Name="EC">
                    <Directory Id="AiPluginsFolder" Name="Plugins">
                        <Component Id="AI4.0.0.0PluginDetails.xml" Guid="{789A4FCF-B1DE-4AB1-BF4D-38DE61E7A2F0}">
                            <File Id="AI4.0.0.0PluginDetails.xml" Name="AI 4.0.0.0 Plugin Details.xml" KeyPath="yes" Source="..\..\redist\EC\Plugins\AI 4.0.0.0 Plugin Details.xml"/>
                        </Component>
                    </Directory>
                </Directory>

            </Directory>

            <Directory Id="CommonFilesFolder" SourceName="Common Files Folder">
                <Directory Id="AiSIL" Name="SIL">
					<!-- I doubt anyone uses this... and I don't think it can be built anymore... so just leave it out
                    <Component Id="GuesserECLegacy.dll" Guid="{D1440DEC-28DD-4169-92F4-AB96B9FDBB6F}">
                        <File Id="GuesserECLegacy.dll" Name="GuesserECLegacy.dll" ReadOnly="yes" KeyPath="yes" Source="..\..\output\x64\release\GuesserECLegacy.dll"/>
                    </Component>
                    <Component Id="GuesserEC.dll" Guid="{AE7C8E5C-6F4B-403D-A152-7BC90796520A}">
                        <File Id="GuesserEC.dll" Name="GuesserEC.dll" ReadOnly="yes" KeyPath="yes" Source="..\..\output\x64\release\GuesserEC.dll"/>
                    </Component>
					-->
                    <Directory Id="Help" Name="Help">
						<!--
                        <Component Id="AdaptItGuesserHelp" Guid="{B1BEB178-27F0-49A7-9BE3-C1BA9CB5E0E3}">
                            <File Id="AdaptItGuesserHelp" Name="AdaptIt Guesser Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\redist\Help\AdaptIt Guesser Plug-in About box.mht"/>
                            <Shortcut Id="AdaptItGuesserHelp" Directory="AiHelp" Name="AdaptIt Guesser Plug-in Help" Description="View help document for the AdaptIt Guesser Plug-in" IconIndex="0" Show="normal" Target="[#AdaptItGuesserHelp]" WorkingDirectory="Help" Advertise="no" />
                        </Component>
						-->
                        <Component Id="AdaptItLookupHelp" Guid="{79535EB0-3CAA-4FFA-8D8B-B01443A12E4F}">
                            <File Id="AdaptItLookupHelp" Name="AdaptIt Plug-in About box.mht" ReadOnly="yes" KeyPath="yes" Source="..\..\redist\Help\AdaptIt Plug-in About box.mht"/>
                            <Shortcut Id="AdaptItLookupHelp" Directory="AiHelp" Name="AdaptIt Lookup Plug-in Help" Description="View help document for the AdaptIt Lookup Plug-in" IconIndex="0" Show="normal" Target="[#AdaptItLookupHelp]" WorkingDirectory="Help" Advertise="no" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="StartMenuFolder" SourceName="Start Menu">
                <Directory Id="ProgramMenuFolder" SourceName="Programs">
                    <Directory Id="SILConverters" Name="SIL Converters">
                        <Directory Id="AiHelp" Name="Help" />
                    </Directory>
                </Directory>
            </Directory>
            
        </Directory>
	</Module>
</Wix>
